<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Blocipedia</h1>
    <p>
      Thanks for joining us, <%= user %>!
    </p>
    <p>
      <%= link_to "See what's new on Blocipedia", welcome_index_path %>
    </p>
  </body>
</html>
