@import 'ionicons';
@import welcome;

.full-page {
  font-family: "Comic Sans MS"
}

.top-nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1000;
    width: 100%;
    background: #b0b1b2;
    padding: 20px 30px;
    display: block;
}

#top-header {
  color: "black";
  vertical-align: top;
  padding: 0px;
  text-align: center;
  position: relative;
  bottom: 30px;
}

.arrows {
  color: "white";
  border-color: "black";
  display: inline-block;
}

.container {
  border-style: 1px solid black;
}
