
<div class="jumbotron">
  <div class="pull-right">
    <%= link_to "Sign In", user_session_path %>
  </div>
  <h2 class="welcome-header">Blocipedia: Social, Markdown Wikis</h2>

  <div class="container">
    <h4>Create and share Markdown Wikis</h4>
     <button type="button" class="sign-up"><%=link_to "Sign Up", new_user_registration_path%></button>
  </div>
</div>
