<h1>Wikis</h1>

<%= link_to new_wiki_path do %>
  <button type="button" class="btn btn-success" id="new">New Wiki</button>
<% end %>

<% if current_user.standard? %>
  <% @wikis.each do |wiki| %>
    <% unless wiki.private == true %>
    <p><%= link_to wiki.title, wiki %></p>
    <% end %>
  <% end %>
<% else %>
  <% @wikis.each do |wiki| %>
    <p><%= link_to wiki.title, wiki %></p>
  <% end %>
<% end %>
