<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>There are no guidelines.</li>
      <li>Do whatever you want.</li>
      <li>Seriously, we don't care.</li>
    </ul>
  </div>
  <div class="col-md-8">
      <%= render partial: 'form', locals: { wiki: @wiki } %>
    </div>
  </div>
</div>
