/*
 *= require_self
 *= require_tree .
*/
@import 'ionicons';
@import "bootstrap";


.full-page {
  font-family: "Comic Sans MS"
}

.top-nav {
    box-sizing: border-box;
    z-index: 1000;
    width: 100%;
    background: #b0b1b2;
    padding: 20px 30px;
    display: block;
}

#top-header {
  color: "black";
  vertical-align: top;
  padding: 0px;
  text-align: center;
  position: relative;
  bottom: 20px;
}

.nav-links{
  display: inline;
}

.icons {
  color: "white";
  border-color: "black";
  padding: 5px;
}

.search-field{
  position: absolute;
  left: 80%;
}

.url-field{
  display: inline-block;
  position:absolute;
  width: 25%;
  left: 35%;
}
