@import "bootstrap";

.welcome-header{
  text-align: center;
  padding-bottom: 40px;
}

.container {
  border: solid #000;
  border-width: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
}

.pull-right {
  text-align: right;
}

.columns{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

.premium-plan{
  margin-top: 7%;
}
