<h2>Are you sure you want to downgrade your account?
  You will no longer have access to private wikis.</h2>
<%= link_to root_path do %>
  <button class="downgrade">Yes, downgrade my account</button>
<% end %>
